<div class="form-style-6">
  <h4>Leave Your Message</h4>
  <form method="POST" action="https://api.staticman.net/v2/entry/fschuindt/blog/gh-pages/comments">
    <input name="options[redirect]" type="hidden" value="https://fschuindt.722.network">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">

    <input type="text" name="fields[name]" placeholder="Your Name" />
    <input type="email" name="fields[email]" placeholder="Email Address (optional)" />
    <input type="text" name="fields[url]" placeholder="Any URL about you (optional)" />
    <textarea name="fields[comment]" placeholder="Type your comment"></textarea>
    <input type="submit" value="Send" />
  </form>
</div>
